.navbar {
    background-color: rgb(182, 130, 118);
    padding: 20px;
    font-size: 40px;
}
.search_div {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.card {
    float: left;
    padding-left: 63px;
    padding-bottom: 63px;
}

